<div class="fileupload fileupload-new well" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 200px; height: 200px;"></div>
  <div>
    <span class="btn btn-file"><input type="file"></span>
    <a href="#">Cancel</a>
  </div>
</div>