<form class="form-horizontal" action="/post" method="post">
<fieldset>
	<div class="form-group">
		<label class="control-label col-sm-2" for="finishDate">Service Finish Date:</label>
		<div class="col-sm-5">
			<input type="date" id="myDate" value=<%= finishAt %>>
		</div>
	</div>

	<p>Service Finish Date: </p>
	<p>Description:
		<!-- Message body -->
		<div class="form-group">
			<label class="col-xs-3 control-label">Agreement</label>
			<div class="col-xs-9">
				<textarea class="form-control" id="agreement" name="post[agreement]" placeholder="Tailored description of this service" rows="5"><%= mutualAgreementBO.getDescription() %></textarea>
			</div>
		</div>
	</p>

	<!-- Form actions -->
	<div class="form-group">
		<div class="col-xs-12 text-center">
			<button id="editSubmit" type="submit" name="editButton" class="btn btn-primary btn-lg" value="editSubmit">Submit</button>
		</div>
		<div class="col-xs-12 text-center">
			<button id="editCancel" type="submit" name="editButton" class="btn btn-primary btn-lg" value="editCancel">Cancel</button>
		</div>
	</div>

</fieldset>
</form>