<div class="row col-xs-10 well">
	<form class="form-horizontal" action="/post" method="post">
		<fieldset>
			<legend class="text-center">Mutual Agreement</legend>

			<!-- Message body -->
			<div class="form-group">
				<label class="col-xs-3 control-label">Agreement</label>
				<div class="col-xs-9">
					<textarea class="form-control" id="agreement" name="post[agreement]" placeholder="Here are the additional agreement in addition to original post" rows="5"></textarea>
				</div>
			</div>

			<!-- Form actions -->
			<div class="form-group">
				<div class="col-xs-12 text-right">
					<button type="button" class="btn btn-default">Agree</button>
				</div>
				<div class="col-xs-12 text-right">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>