<div class="row-fluid col-md-12 well text-center buttons">
	<form class="form-horizontal" action="/req" method="get">
		<button type="submit" class="btn btn-primary btn-lg col-md-5 postBtn">Request Service</button>
	</form>
	<div class="col-md-1">
	</div>
	<form class="form-horizontal" action="/post" method="get">
		<button type="submit" class="btn btn-primary btn-lg col-md-5 postBtn">Provide Service</button>
	</form>
</div>