<div class="row-fluid col-md-12 well submitForm">
	<h1 class="text-center">Statistics</h1>
	<br>
	<br>
	<h3>User Rating: </h3>
	<h3>Number of Customers: </h3>
	<h3>Number of Transactions: </h3>
</div>