<div class="row-fluid col-md-12 well submitForm">
	<h1 class="text-center">Settings</h1>
	<br>
	<br>
	<form class="form-horizontal" action="/findUser" method="post">
		<fieldset>
			<!-- Search User-->
			<div class="form-group">
				<label class="col-xs-2 control-label" for="userId">User ID</label>
				<div class="col-xs-10">
					<input id="userId" name="post[userId]" type="text" placeholder="sample@domain.com" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label" for="password">Password</label>
				<div class="col-xs-10">
					<input id="password" name="post[password]" type="text" placeholder="password" class="form-control">
				</div>
			</div>
			<div class="col-xs-12 text-right">
					<button type="submit" class="btn btn-primary btn-lg">Change</button>
			</div>
		</fieldset>
	</form>
</div>