<% if(typeof postBOByConsumerArray != 'undefined'){ %>
	<div class="well"> 
		<h1>People who may want what you provide.</h1>
		<ul>
			<% postBOByConsumerArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul>
	</div>
<% } if (typeof postBOByProviderArray != 'undefined'){ %> 
	<div class="well"> 
	   	<h1>People who may provide what you want.</h1>
	   	<ul>
			<% postBOByProviderArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul>
	</div>
<% } if (typeof postBOFeaturedArray != 'undefined') {%>
	<div class="well"> 
   		<h1>Random Posts</h1>
	   	<ul>
			<% postBOFeaturedArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul> 
	</div>
<% } %>