<% if(typeof postBOByConsumerArray != 'undefined'){ %>
	<div class="well post-home"> 
		<h1 class="main">Matching Requests</h1>
		<ul>
			<% postBOByConsumerArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul>
	</div>
<% } if (typeof postBOByProviderArray != 'undefined'){ %> 
	<div class="well post-home"> 
	   	<h1 class="main">Matching Services</h1>
	   	<ul>
			<% postBOByProviderArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul>
	</div>
<% } if (typeof postBOFeaturedArray != 'undefined') {%>
	<div class="well post-home"> 
   		<h1 class="main">Random Posts</h1>
	   	<ul>
			<% postBOFeaturedArray.forEach(function(postBO) { %>
			<li>
				<% include ../partials/postRender.ejs %>
			</li>
			<% }); %>
		</ul> 
	</div>
<% } %>