<!-- Taken from http://getbootstrap.com/components/#navbar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Header is just sth text that looks slightly bigger on your search bar-->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Get It Done</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <form class="navbar-form navbar-left" role="search" action="/search" method="post">
          <fieldset>
            
            <!-- Radio input -->
            <div class="form-group">
              <label class="radio-inline">
                <input name="post[byWho]" value="byConsumer" type="radio">By Consumer
              </label>
              <label class="radio-inline">
                <input name="post[byWho]" value="byProvider" type="radio">By Provider
              </label>
            </div>

            <!-- Radio input -->
            <div class="form-group">
              <label class="radio-inline">
                <input name="post[isPurchased]" value="isNotPurchased" type="radio">Not Purchased
              </label>
              <label class="radio-inline">
                <input name="post[isPurchased]" value="isPurchased" type="radio">Purchased
              </label>
            </div>

            <!-- Radio input -->
            <div class="form-group">
              <label class="radio-inline">
                <input name="post[isExpired]" value="isNotExpired" type="radio">No Expired
              </label>
              <label class="radio-inline">
                <input name="post[isExpired]" value="isExpired" type="radio">Expired
              </label>
            </div>

          </ul>

          <div class="form-group">
            <input id="keywords" type="text" name="post[keywords]" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>