<div class="row col-md-2 well">
      <h3><span class="fa fa-user"></span> Local</h3>
      <p>
        <strong>email</strong>: <%= user._userId %>
        <strong>password</strong>: <%= user._password %>
      </p>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>