
<!--Taken from http://bootsnipp.com/snippets/featured/simplest-contact-form--> 
<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

<div class="container">
<!-- Taken from http://getbootstrap.com/components/#navbar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <!-- Radio input -->
            <form class="navbar-form navbar-left" role="search" action="/search" method="post">
              <fieldset>
                <div class="form-group">
                  <label class="radio-inline">
                    <input name="post[byWho]" value="byConsumer" type="radio">By Consumer
                  </label>
                  <label class="radio-inline">
                    <input name="post[byWho]" value="byProvider" type="radio">By Provider
                  </label>
                </div>

                <!-- Radio input -->
                <div class="form-group">
                  <label class="radio-inline">
                    <input name="post[isPurchased]" value="isNotPurchased" type="radio">Not Purchased
                  </label>
                  <label class="radio-inline">
                    <input name="post[isPurchased]" value="isPurchased" type="radio">Purchased
                  </label>
                </div>

                <!-- Radio input -->
                <div class="form-group">
                  <label class="radio-inline">
                    <input name="post[isExpired]" value="isNotExpired" type="radio">No Expired
                  </label>
                  <label class="radio-inline">
                    <input name="post[isExpired]" value="isExpired" type="radio">Expired
                  </label>
                </div>

              </ul>

              <div class="form-group">
                <input id="keywords" type="text" name="post[keywords]" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </fieldset>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Home Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>email</strong>: <%= user._userId %><br>
                        <strong>password</strong>: <%= user._password %>
                    </p>

            </div>
        </div>

    </div>



      <div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm">
            <form class="form-horizontal" action="/post" method="post">
            <fieldset>
              <legend class="text-center">Post a Service</legend>
      
              <!-- Name input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="title">Title</label>
                <div class="col-md-9">
                  <input id="title" name="post[title]" type="text" placeholder="Title" class="form-control">
                </div>
              </div>
      
              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="keywords">Keywords</label>
                <div class="col-md-9">
                  <input id="keywords" name="post[keywords]" type="text" placeholder="Keywords" class="form-control">
                </div>
              </div>
      
              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="summary">Summary</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="summary" name="post[description]" placeholder="Please enter your summary here..." rows="5"></textarea>
                </div>
              </div>

              <!-- Radio input -->
              <div class="form-group">
                <label class="radio-inline">
                  <input name="post[byWho]" value="byConsumer" type="radio"> Looking for this service!
                </label>
                <label class="radio-inline">
                  <input name="post[byWho]" value="byProvider" type="radio" checked=""> Providing this service!
                </label>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
</div>
</body>
</html>