
<!--Taken from http://bootsnipp.com/snippets/featured/simplest-contact-form--> 
<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Home Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>email</strong>: <%= user._userId %><br>
                        <strong>password</strong>: <%= user._password %>
                    </p>

            </div>
        </div>

    </div>



      <div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm">
            <form class="form-horizontal" action="" method="post">
            <fieldset>
              <legend class="text-center">Post a Service</legend>
      
              <!-- Name input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="title">Title</label>
                <div class="col-md-9">
                  <input id="title" name="title" type="text" placeholder="Title" class="form-control">
                </div>
              </div>
      
              <!-- Email input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="keywords">Keywords</label>
                <div class="col-md-9">
                  <input id="keywords" name="keywords" type="text" placeholder="Keywords" class="form-control">
                </div>
              </div>
      
              <!-- Message body -->
              <div class="form-group">
                <label class="col-md-3 control-label" for="summary">Summary</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="summary" name="summary" placeholder="Please enter your summary here..." rows="5"></textarea>
                </div>
              </div>
      
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>





</div>
</body>
</html>