<!doctype html>
<html>
<% include ../partials/header.ejs %>
<body>
	<div class="container-fluid">
		<% include ../partials/alwaysInclude.ejs %>

		<div class="submitPost col-md-9">
			<% include ../partials/postSubmit.ejs %>   
		</div> 
		<div class="recommendations col-md-9">
			<% include ../partials/recommendedPosts.ejs %>
		</div> 
	</div>
</body>
</html>