<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/searchBar.ejs %>
	<div class="container">		
		<% include ../partials/userPanel.ejs %>	
		<% include ../partials/postSubmit.ejs %>
	</div>
</body>
</html>