
<!--Taken from http://bootsnipp.com/snippets/featured/simplest-contact-form--> 
<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/searchBar.ejs %>
	<div class="container">		
		<% include ../partials/userPanel.ejs %>	
		<% include ../partials/postSubmit.ejs %>
	</div>
</body>
</html>