<!-- Mutual Agreement Page -->
<!doctype html>
<html>
<% include ../partials/header.ejs %>
<body>
	<% include ../partials/mutualAgreementInfoScript.ejs %>

<!-- Service agreement section -->
<div class="container-fluid">
	<% include ../partials/alwaysInclude.ejs %>

	<div class="row col-md-9">
		<div class="panel col-md-12 detach">
			<% include ../partials/mutualAgreementTop.ejs %>
			<% include ../partials/mutualAgreementInfo.ejs %>
		</div>
	</div>

</div>
</body>
</html>