<!doctype html>
<html>
<% include ../partials/header.ejs %>
<body>
	<div class="container-fluid">
		<% include ../partials/alwaysInclude.ejs %>
		<div class="profilecontent col-md-9 well">
		</div> 
	</div>
</body>
</html>