<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Bootstrap Case</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  <a class="navbar-brand" href="#">GetItDone</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
		
		<div class="well">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="control-label" for="search_types">Search for:</label>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary" id="search_types">
								<input type="radio" name="search_type" value="Offers" checked="checked"/> Offers
							</label> 
							<label class="btn btn-primary">
								<input type="radio" name="search_type" value="Requests" /> Requests
							</label> 
						</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="search_location">Location:</label>
					<div class="btn">
						<input class="form-control" id="search_location" type="text" placeholder="Enter an address">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="search_keywords">Keywords:</label>
					<div class="btn">
						<input class="form-control" id="search_keywords" type="text" placeholder="Enter keywords">
					</div>
				</div>
				
				<div class="form-group"> 
					<button type="submit" class="btn btn-info">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
					<button type="reset" class="btn btn-primary">Clear Search</button>
				</div>
			</form>
		</div>

		<div class="well">
			<h1 id="search_results_header">Search Results:</h1>
			<div class="panel-group">
				<div class="panel panel-info">
					<div class="panel-heading">Tired of the #Lineup at #UncleTetsu's? We can wait for you!</div>
					<div class="panel-body">
						<p>Price: Price of Cake(s) + $10 Service Charge (Cash or PayPal)</p>
						<p>Location: Toronto, Ontario, Canada; York, Ontario, Canada</p>
						<p>Description: We will wait in line for you at #UncleTetsu! Just tell us when and we'll be there.</p>
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>
